<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025967779190-vvb5ns72kda8eebhee51f4httnhk553l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025967779190-vvb5ns72kda8eebhee51f4httnhk553l</string>
	<key>API_KEY</key>
	<string>AIzaSyDzo_FaPU149Hh65vAKJA_Gdl9WoUEGnGk</string>
	<key>GCM_SENDER_ID</key>
	<string>1025967779190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.himalayanExpress</string>
	<key>PROJECT_ID</key>
	<string>himalayanexpress-6288a</string>
	<key>STORAGE_BUCKET</key>
	<string>himalayanexpress-6288a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025967779190:ios:419858ea4e30b752f75e57</string>
</dict>
</plist>